/* login section start */

.login_form{
    max-width: 600px;
    margin: 105px auto 105px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
}
.login_form .remember_me{
    display: flex;
    justify-content: start;
    align-items: end;
}
.login_form .remember_me input{
    margin-right: 15px;
}
.btn-primary{
    background-color: var(--btn_color);
}
.form-check-input:checked{
    background-color: var(--btn_color);
}

/* login media queries */
@media (max-width: 590px) {
    .wall{
        padding-bottom: 0;
    }
    .login_form{
        margin: 30px auto 30px;
    }
}
@media (max-width: 520px) {
    .wall{
        background-position-y: inherit;
    }
}

/* login section end */