@import "_null.css";
@import "_header.css";
@import "_recommendation.css";
@import "_footer.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --monserat: 'Montserrat', sans-serif;
    --lato: 'Lato', sans-serif;
    --btn_color: #8D4FDB;
    --main_color: #333333;
    --btn_hover:#0b5ed7;
    --btn_border:#0a58ca;

}

.wall{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/background.png") no-repeat 0 0;
    background-size: cover;
    padding-bottom: 99px;
}
.wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.container{
    margin: 0 auto;
    max-width: 940px;
}

/* media queries */

@media (max-width: 768px) {
    .wall{
        background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/background.png") no-repeat 0 -99px;
        padding-bottom: 0;
    }
}